<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1><a href="/">REPLICA</a></h1>
<div class="container">
    <div th:each="content : ${contents}" class="card" onclick="this.classList.toggle('flipped');">
        <div class="card-inner">
            <div class="card-front">
                <p style="text-align : center; font-size : 70%">REPRODUCTION OF FAMILIAR<br>MUSICS AND MOMENTS OF VARYING<br>LOCATIONS AND PERIODS</p>
                <hr class="divider">
                <p><strong>MUSIC:</strong> <span th:text="${content.music}"></span></p>
                <p><strong>ARTIST:</strong> <span th:text="${content.artist}"></span></p>
                <p><strong>LOCATION:</strong> <span th:text="${content.place}"></span></p>
                <p><strong>PERIOD:</strong> <span th:text="${content.date}"></span></p>
            </div>
            <div class="card-back">
                <p th:text="${content.description}" class="description"></p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/contents/new';">
        <div class="card-inner">
            <p style="text-align : center; font-size:30px; color:#696969; padding-top : 70px">새로<br>작성</p>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
